<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Frequency Count Page</title>
    <link rel="stylesheet" href="/style.css?v=3">
</head>
<body>
    <h1>Word Frequency Count Page</h1>
    <form action="/word_frequency_counter" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Input text file and sort type</legend>

            <div>
                <input type="file" name="text_file" accept=".txt">
            </div>
            
            <div>
                <select id="sort_type" name="sort_type">
                    <option value="alphabet_asc">Alphabetical order (A to Z)</option>
                    <option value="alphabet_desc">Alphabetical order (Z to A)</option>
                    <option value="frequency_asc">Frequency order (low to high)</option>
                    <option value="frequency_desc">Frequency order (high to low)</option>
                </select>
            </div>
            
            <div>
                <button type="submit">Confirm</button>
            </div>
        </fieldset>
    </form>

    <div class="table-wrap">

        <div>
            <h2>Frequency of Each Words</h2>

            <table>
                <tr>
                    <th>Word</th>
                    <th>Frequency</th>
                </tr>
                <% if @word_freqs %>
                    <% @word_freqs.each do |word, freq| %>
                        <tr>
                            <td><%= word %></td>
                            <td><%= freq %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>

        <div>
            <h2>Frequency Distribution</h2>

            <table>
                <tr>
                    <th>Frequency</th>
                    <th>Number of Words</th>
                </tr>
                <% if @frequency_distribution %>
                    <% @frequency_distribution.each do |freq, count| %>
                        <tr>
                            <td><%= freq %></td>
                            <td><%= count %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div>
    </div>
</body>
</html>